.taskCompleted {
    -fx-text-fill: #808080;
    -fx-strikethrough: true;
    -fx-font-style: italic;
}

.taskToComplete {
	-fx-text-fill: #FFCC00;
	-fx-font-weight: bold;
}

.toggle-button {
	-fx-graphic: url('/../images/notComplete.png');
	-fx-cursor: hand;  
}

.toggle-button:selected {
	-fx-graphic: url('/../images/notComplete.png');
}